# Core functionality - changes here should be rare!
/src/app.py                   @SoniaBhiri
/src/backend/database.py      @SoniaBhiri
/src/backend/routers/auth.py  @SoniaBhiri

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SoniaBhiri
